.introductionBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    gap: 10px;
}
.introductionBox .sectionTitle{
    display: flex;
    border: 1px solid rgba(255, 255, 255, 0.208);
    height: 40px;
    color: white;
    align-items: center;
    gap: 10px;
    
    box-shadow:
        inset 0 2px 2px rgba(252, 252, 252, 0.156),   /* bottom shadow */
        inset 0 -2px 2px rgba(252, 252, 252, 0.156);  /* top shadow */
    border-radius: 25px;
    padding: 0 10px;
}
.introductionBox .sectionTitle p{
    margin: 0;
    font-size: 16px;
    padding: 0;
    line-height: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
.sectionTitle .ArrowIcons{
    padding: 5px;
    border: 1px solid #09C60D;
    color: #09C60D;
    rotate: 47deg;
    border-radius: 100%;
    width: 14px;
    height: 14px;
}


.sectionInfo{
    display: flex;
    align-items: center;
    gap: 8px;
    flex-direction: column;
}
.sectionInfo p,h2{
    margin: 0;
    padding: 0;
    color: white;
}
.sectionInfo h2{
    color: #09C60D;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 1px;
}
.sectionInfo p{
    width: 65%;
    text-align: center;
    font-size: 28px;
    font-weight: 350;
    letter-spacing: 0.5px;
    margin-top: -8px;
    line-height: 30px;
}


@media screen and (max-width:500px) {
    .sectionInfo p{
    width: 100%;
    text-align: center;
    font-size: 22px;
}
}